In [22]:
import io
import sqlite3
import pandas as pd
from IPython.core.display import HTML

In [23]:
conn = sqlite3.connect('tp1.db')
cursor = conn.cursor()

In [26]:
# carga dos dados - fazer somente uma vez
# f = io.open('despesas_publicas_tp1.sql','r')
# sql = f.read()
# cursor.executescript(sql)

In [56]:
# matricula: 2018047021
# consultas: 1,5,8,2,3,4

In [152]:
# 1
df = pd.read_sql_query("SELECT * FROM FUNCAO WHERE COD_FUNCAO IN (SELECT COD_FUNCAO FROM DETALHAMENTO_FUNCAO WHERE COD_SUBFUNCAO = (SELECT COD_SUBFUNCAO FROM DETALHAMENTO_FUNCAO GROUP BY COD_SUBFUNCAO ORDER BY COUNT(*) DESC LIMIT 1)) ORDER BY COD_FUNCAO",conn)
df

   COD_FUNCAO        NOME_FUNCAO
0           5    Defesa nacional
1           6  Segurança pública
2          26         Transporte

In [82]:
# 5
df = pd.read_sql_query("SELECT COD_ORGAO, NOME_ORGAO FROM ORGAO NATURAL JOIN (SELECT COD_ORGAO, SUM(VALOR_DESPESA) FROM DESPESA_PUBLICA NATURAL JOIN DETALHAMENTO_FUNCAO WHERE COD_FUNCAO IN(SELECT COD_FUNCAO FROM FUNCAO WHERE NOME_FUNCAO IN ('Educação', 'Saúde')) AND ANO_DESPESA = 2018 GROUP BY COD_ORGAO ORDER BY SUM(VALOR_DESPESA) DESC LIMIT 5)",conn)
df

   COD_ORGAO                                     NOME_ORGAO
0      52000                           Ministério da Defesa
1      26000                         Ministério da Educação
2      36000                            Ministério da Saúde
3      24000  Ministério da Ciência, Tecnologia, Inovações
4      30000      Ministério da Justiça e Segurança Pública

In [106]:
# 8
df = pd.read_sql_query("SELECT NOME_ORGAO, NOME_SUBFUNCAO, COUNT(*) AS QUANTIDADE_DESPESAS, SUM(VALOR_DESPESA) AS VALOR_DESPESAS FROM DESPESA_PUBLICA NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN ORGAO NATURAL JOIN SUBFUNCAO WHERE COD_ORGAO IN (SELECT COD_ORGAO FROM DESPESA_PUBLICA GROUP BY COD_ORGAO HAVING SUM(VALOR_DESPESA) > 10000) GROUP BY COD_ORGAO, COD_SUBFUNCAO",conn)
df

,NOME_ORGAO,NOME_SUBFUNCAO,QUANTIDADE_DESPESAS,VALOR_DESPESAS
0,"Ministério da Agricultura, Pecuária e Abastec",Normatização e fiscalização,2,0.00
1,"Ministério da Agricultura, Pecuária e Abastec",Ordenamento territorial,24,1497.26
2,"Ministério da Agricultura, Pecuária e Abastec",Assistência comunitária,21,8215.70
3,"Ministério da Agricultura, Pecuária e Abastec",Alimentação e nutrição,23,81123.55
4,"Ministério da Agricultura, Pecuária e Abastec",Difusão do conhecimento científico e tecnológico,13,0.00
5,"Ministério da Agricultura, Pecuária e Abastec",Extensão rural,21,0.00
6,"Ministério da Agricultura, Pecuária e Abastec",Promoção da produção agropecuária,10,0.00
7,"Ministério da Agricultura, Pecuária e Abastec",Reforma agrária,9,0.00
8,"Ministério da Agricultura, Pecuária e Abastec",Promoção comercial,2,0.00
9,Ministério da Educação,Administração geral,1,0.00
10,Ministério da Educação,Tecnologia da informação,11,0.00
11,Ministério da Educação,Ordenamento territorial,5,0.00
12,Ministério da Educação,Defesa civil,2,0.00
13,Ministério da Educação,Assistência ao portador de deficiência,5,0.00
14,Ministério da Educação,Assistência comunitária,12,0.00
15,Ministério da Educação,Atenção básica,13,0.00
16,Ministério da Educação,Assistência hospitalar e ambulatorial,53,1210.00
17,Ministério da Educação,Alimentação e nutrição,12,0.00
18,Ministério da Educação,Fomento ao trabalho,1,0.00
19,Ministério da Educação,Ensino profissional,33,60262.46
20,Ministério da Educação,Ensino superior,43,2400.00
21,Ministério da Educação,Educação infantil,2,0.00
22,Ministério da Educação,Educação básica,58,135.36
23,Ministério da Educação,Custódia e reintegração social,1,0.00
24,Ministério da Educação,"Direitos individuais, coletivos e difusos",15,0.00
25,Ministério da Educação,Desenvolvimento científico,2,0.00
26,Ministério da Educação,Extensão rural,10,0.00
27,Ministério da Educação,Reforma agrária,2,0.00
28,Ministério da Educação,Promoção comercial,11,0.00
29,Ministério da Educação,Transferências para a educação básica,2,0.00
30,Ministério da Saúde,Formação de recursos humanos,3,0.00
31,Ministério da Saúde,Assistência comunitária,9,0.00
32,Ministério da Saúde,Atenção básica,62,12000.00
33,Ministério da Saúde,Assistência hospitalar e ambulatorial,138,38971.19
34,Ministério da Saúde,Ensino superior,3,0.00
35,Ministério da Saúde,"Direitos individuais, coletivos e difusos",4,0.00
36,Ministério da Defesa,Administração geral,13,0.00
37,Ministério da Defesa,Defesa terrestre,8,0.00
38,Ministério da Defesa,Assistência comunitária,1,0.00
39,Ministério da Defesa,Alimentação e nutrição,12,19250.00
40,Ministério da Defesa,Ensino superior,10,0.00
41,Ministério da Defesa,Educação básica,12,334126.70
42,Ministério do Desenvolvimento Social,Normatização e fiscalização,11,0.00
43,Ministério do Desenvolvimento Social,Tecnologia da informação,14,58918.28
44,Ministério do Desenvolvimento Social,Comunicação social,1,0.00
45,Ministério do Desenvolvimento Social,Assistência comunitária,88,219668.07
46,Ministério do Desenvolvimento Social,Alimentação e nutrição,44,0.00
47,Ministério do Desenvolvimento Social,Saneamento básico rural,27,0.00
48,Ministério do Desenvolvimento Social,Outros encargos especiais,12,0.00

In [114]:
# 2
df = pd.read_sql_query("SELECT NOME_FUNCAO, NOME_SUBFUNCAO, AVG(VALOR_DESPESA) AS MEDIA_DESPESAS FROM DESPESA_PUBLICA NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN FUNCAO NATURAL JOIN SUBFUNCAO GROUP BY NOME_FUNCAO, NOME_SUBFUNCAO HAVING AVG(VALOR_DESPESA) > 1000",conn)
df

          NOME_FUNCAO            NOME_SUBFUNCAO  MEDIA_DESPESAS
0  Assistência social   Assistência comunitária     1713.411805
1  Assistência social  Tecnologia da informação     2266.087692
2            Educação           Educação básica     4398.185000
3            Educação       Ensino profissional     1826.135152

In [119]:
# 3
df = pd.read_sql_query("SELECT NOME_PROGRAMA_GOVERNO, SUM(VALOR_DESPESA) FROM PROGRAMA_GOVERNO NATURAL JOIN DESPESA_PUBLICA WHERE ANO_DESPESA = 2018 GROUP BY COD_PROGRAMA_GOVERNO ORDER BY SUM(VALOR_DESPESA) DESC",conn)
df

                                NOME_PROGRAMA_GOVERNO  SUM(VALOR_DESPESA)
0                                  BRASIL SEM MISERIA           387175.60
1                                                ENEM           334262.06
2                                            PRONATEC            60262.46
3                                  CONTROLE DO CANCER            38971.19
4                                        MAIS MEDICOS            14400.00
5                             REGULARIZACAO FUNDIARIA             1497.26
6                                        REDE CEGONHA             1210.00
7                                    VIVER SEM LIMITE                0.00
8                                      SOS EMERGENCIA                0.00
9                                      MELHOR EM CASA                0.00
10                                                UBS                0.00
11  UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...                0.00
12                             CIENCIA SEM FRONTEIRAS                0.00
13                             CRIMINALIDADE VIOLENTA                0.00
14                                       PROVA BRASIL                0.00
15                               GESTAO AEROPORTUARIA                0.00
16                                 DESASTRES NATURAIS                0.00
17                                   CADEIAS PUBLICAS                0.00
18                                         OLIMPIADAS                0.00
19                                             SINESP                0.00
20                           TERRITORIOS DA CIDADANIA                0.00
21                           CRACK, E POSSIVEL VENCER                0.00
22                                SATELITE (TELEBRAS)                0.00
23                                            ENAFRON                0.00
24                              VIOLENCIA NO TRANSITO                0.00
25                               SEGURO RURAL PRIVADO                0.00
26  PROGRAMA NACIONAL DE MELHORIA DE ACESSO E QUAL...                0.00

In [128]:
# 4
df = pd.read_sql_query("SELECT MES_DESPESA, ANO_DESPESA, NOME_PROGRAMA_GOVERNO, VALOR_DESPESA FROM DESPESA_PUBLICA NATURAL JOIN PROGRAMA_GOVERNO WHERE COD_ORGAO = (SELECT COD_ORGAO FROM ORGAO WHERE NOME_ORGAO = 'Ministério da Educação') AND MES_DESPESA <= 6 AND ANO_DESPESA = 2018 ORDER BY MES_DESPESA, ANO_DESPESA",conn)
df

     MES_DESPESA  ANO_DESPESA     NOME_PROGRAMA_GOVERNO  VALOR_DESPESA
0              1         2018          VIVER SEM LIMITE           0.00
1              1         2018          VIVER SEM LIMITE           0.00
2              1         2018          VIVER SEM LIMITE           0.00
3              1         2018            MELHOR EM CASA           0.00
4              1         2018              REDE CEGONHA        1210.00
5              1         2018        CONTROLE DO CANCER           0.00
6              1         2018        CONTROLE DO CANCER           0.00
7              1         2018    CIENCIA SEM FRONTEIRAS           0.00
8              1         2018                      ENEM           0.00
9              1         2018                      ENEM           0.00
10             1         2018                      ENEM           0.00
11             1         2018              PROVA BRASIL           0.00
12             1         2018              PROVA BRASIL           0.00
13             1         2018                  PRONATEC           0.00
14             1         2018                  PRONATEC        5000.00
15             1         2018                  PRONATEC        2000.00
16             1         2018                  PRONATEC           0.00
17             1         2018  CRACK, E POSSIVEL VENCER           0.00
18             1         2018        BRASIL SEM MISERIA           0.00
19             1         2018        BRASIL SEM MISERIA           0.00
20             1         2018        BRASIL SEM MISERIA           0.00
21             1         2018        BRASIL SEM MISERIA           0.00
22             1         2018        BRASIL SEM MISERIA           0.00
23             1         2018   REGULARIZACAO FUNDIARIA           0.00
24             1         2018   REGULARIZACAO FUNDIARIA           0.00
25             1         2018              MAIS MEDICOS           0.00
26             1         2018              MAIS MEDICOS           0.00
27             1         2018              MAIS MEDICOS           0.00
28             2         2018          VIVER SEM LIMITE           0.00
29             2         2018          VIVER SEM LIMITE           0.00
..           ...          ...                       ...            ...
123            5         2018              MAIS MEDICOS           0.00
124            5         2018              MAIS MEDICOS           0.00
125            5         2018              MAIS MEDICOS           0.00
126            6         2018          VIVER SEM LIMITE           0.00
127            6         2018          VIVER SEM LIMITE           0.00
128            6         2018          VIVER SEM LIMITE           0.00
129            6         2018          VIVER SEM LIMITE           0.00
130            6         2018              REDE CEGONHA           0.00
131            6         2018        CONTROLE DO CANCER           0.00
132            6         2018        CONTROLE DO CANCER           0.00
133            6         2018    CIENCIA SEM FRONTEIRAS           0.00
134            6         2018                      ENEM           0.00
135            6         2018                      ENEM         135.36
136            6         2018                      ENEM           0.00
137            6         2018              PROVA BRASIL           0.00
138            6         2018              PROVA BRASIL           0.00
139            6         2018                  PRONATEC           0.00
140            6         2018                  PRONATEC           0.00
141            6         2018                  PRONATEC           0.00
142            6         2018                  PRONATEC           0.00
143            6         2018        DESASTRES NATURAIS           0.00
144            6         2018  CRACK, E POSSIVEL VENCER           0.00
145            6         2018  CRACK, E POSSIVEL VENCER           0.00
146            6         2018        BRASIL SEM MISERIA           0.00
147            6         2018        BRASIL SEM MISERIA           0.00
148            6         2018        BRASIL SEM MISERIA           0.00
149            6         2018        BRASIL SEM MISERIA           0.00
150            6         2018              MAIS MEDICOS           0.00
151            6         2018              MAIS MEDICOS           0.00
152            6         2018              MAIS MEDICOS           0.00

[153 rows x 4 columns]

In [149]:
# 12
df = pd.read_sql_query("SELECT DISTINCT NOME_FUNCAO, VALOR_DESPESA FROM FUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN DESPESA_PUBLICA",conn)
df

              NOME_FUNCAO  VALOR_DESPESA
0     Essencial à justiça           0.00
1         Defesa nacional           0.00
2       Segurança pública           0.00
3      Assistência social           0.00
4      Assistência social       58918.28
5      Assistência social        8215.70
6      Assistência social      219668.07
7      Assistência social           3.42
8      Assistência social       19250.00
9      Assistência social       81120.13
10                  Saúde           0.00
11                  Saúde        1000.00
12                  Saúde       11000.00
13                  Saúde        1210.00
14                  Saúde       38971.19
15               Trabalho           0.00
16               Educação           0.00
17               Educação         385.38
18               Educação         726.00
19               Educação        2000.00
20               Educação        5000.00
21               Educação        5900.00
22               Educação       18178.00
23               Educação       28073.08
24               Educação        2400.00
25               Educação         135.36
26               Educação      334126.70
27  Direitos da cidadania           0.00
28              Urbanismo           0.00
29       Gestão ambiental           0.00
30   Ciência e Tecnologia           0.00
31            Agricultura           0.00
32    Organização agrária           0.00
33    Organização agrária        1497.26
34              Indústria           0.00
35             Transporte           0.00
36     Encargos especiais           0.00

In [156]:
# 13
df = pd.read_sql_query("SELECT DISTINCT MODALIDADE_DESPESA, VALOR_DESPESA, NOME_ORGAO FROM (ORGAO NATURAL JOIN (SELECT * FROM DESPESA_PUBLICA WHERE MODALIDADE_DESPESA = 'Reserva de Contingência'));",conn)
df

,MODALIDADE_DESPESA,VALOR_DESPESA,NOME_ORGAO
0,Reserva de Contingência,0.00,Presidência da República
1,Reserva de Contingência,0.00,"Ministério da Agricultura, Pecuária e Abastec"
2,Reserva de Contingência,8215.70,"Ministério da Agricultura, Pecuária e Abastec"
3,Reserva de Contingência,3.42,"Ministério da Agricultura, Pecuária e Abastec"
4,Reserva de Contingência,81120.13,"Ministério da Agricultura, Pecuária e Abastec"
5,Reserva de Contingência,1497.26,"Ministério da Agricultura, Pecuária e Abastec"
6,Reserva de Contingência,0.00,"Ministério da Ciência, Tecnologia, Inovações"
7,Reserva de Contingência,0.00,Ministério da Fazenda
8,Reserva de Contingência,0.00,Ministério da Educação
9,Reserva de Contingência,1210.00,Ministério da Educação
10,Reserva de Contingência,135.36,Ministério da Educação
11,Reserva de Contingência,2000.00,Ministério da Educação
12,Reserva de Contingência,18178.00,Ministério da Educação
13,Reserva de Contingência,28073.08,Ministério da Educação
14,Reserva de Contingência,385.38,Ministério da Educação
15,Reserva de Contingência,5900.00,Ministério da Educação
16,Reserva de Contingência,2400.00,Ministério da Educação
17,Reserva de Contingência,0.00,Ministério da Justiça e Segurança Pública
18,Reserva de Contingência,0.00,Ministério das Relações Exteriores
19,Reserva de Contingência,0.00,Ministério da Saúde
20,Reserva de Contingência,38971.19,Ministério da Saúde
21,Reserva de Contingência,11000.00,Ministério da Saúde
22,Reserva de Contingência,1000.00,Ministério da Saúde
23,Reserva de Contingência,0.00,"Ministério dos Transportes, Portos e Aviação"
24,Reserva de Contingência,0.00,Ministério do Meio Ambiente
25,Reserva de Contingência,0.00,Ministério da Defesa
26,Reserva de Contingência,334126.70,Ministério da Defesa
27,Reserva de Contingência,19250.00,Ministério da Defesa
28,Reserva de Contingência,0.00,Ministério da Integração Nacional
29,Reserva de Contingência,0.00,Ministério do Desenvolvimento Social
30,Reserva de Contingência,58918.28,Ministério do Desenvolvimento Social
31,Reserva de Contingência,0.00,Ministério dos Direitos Humanos

In [153]:
# 14
df = pd.read_sql_query("SELECT DISTINCT VALOR_DESPESA, NOME_PROGRAMA_GOVERNO FROM (DESPESA_PUBLICA NATURAL JOIN (SELECT * FROM PROGRAMA_GOVERNO WHERE NOME_PROGRAMA_GOVERNO = 'ENEM'))",conn)
df

   VALOR_DESPESA NOME_PROGRAMA_GOVERNO
0           0.00                  ENEM
1         135.36                  ENEM
2      334126.70                  ENEM

In [154]:
# 15
df = pd.read_sql_query("SELECT DISTINCT NOME_PROGRAMA_GOVERNO, QTD_ORGAOS_SUBORDINADOS, VALOR_DESPESA FROM (DESPESA_PUBLICA NATURAL JOIN (SELECT * FROM ORGAO WHERE NOME_ORGAO = 'Ministério da Educação') NATURAL JOIN PROGRAMA_GOVERNO)",conn)
df

       NOME_PROGRAMA_GOVERNO  QTD_ORGAOS_SUBORDINADOS  VALOR_DESPESA
0           VIVER SEM LIMITE                      104           0.00
1             MELHOR EM CASA                      104           0.00
2               REDE CEGONHA                      104        1210.00
3               REDE CEGONHA                      104           0.00
4         CONTROLE DO CANCER                      104           0.00
5     CIENCIA SEM FRONTEIRAS                      104           0.00
6                       ENEM                      104           0.00
7                       ENEM                      104         135.36
8               PROVA BRASIL                      104           0.00
9                   PRONATEC                      104           0.00
10                  PRONATEC                      104        5000.00
11                  PRONATEC                      104         726.00
12                  PRONATEC                      104        2000.00
13                  PRONATEC                      104       18178.00
14                  PRONATEC                      104       28073.08
15                  PRONATEC                      104         385.38
16                  PRONATEC                      104        5900.00
17      GESTAO AEROPORTUARIA                      104           0.00
18        DESASTRES NATURAIS                      104           0.00
19          CADEIAS PUBLICAS                      104           0.00
20  TERRITORIOS DA CIDADANIA                      104           0.00
21  CRACK, E POSSIVEL VENCER                      104           0.00
22        BRASIL SEM MISERIA                      104           0.00
23   REGULARIZACAO FUNDIARIA                      104           0.00
24              MAIS MEDICOS                      104           0.00
25              MAIS MEDICOS                      104        2400.00