In [4]:
import io
import sqlite3
import pandas as pd
from IPython.core.display import HTML

In [5]:
conn = sqlite3.connect('tp1.db')
cursor = conn.cursor()

In [6]:
# carga dos dados - fazer somente uma vez
# f = io.open('despesas_publicas_tp1.sql','r')
# sql = f.read()
# cursor.executescript(sql)

In [9]:
df = pd.read_sql_query("SELECT * FROM ORGAO ORDER BY QTD_ORGAOS_SUBORDINADOS DESC", conn)
df.to_html()
HTML(df.to_html(),none,"style.css")